<div class="bgcolor">
  <div class="container">
    <div class="row justify-content-center text-light">
      <div class="col-12 col-md-6 col-lg-6 pt-4">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="p-3">Nuevo proyecto</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group pt-3 mb-4">
                <label for="nombre">Nombre del proyecto:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  [(ngModel)]="nombre"
                  required
                />
              </div>
              <div class="form-group mb-4">
                <label for="descripcion">Descripción:</label>
                <input
                  type="text"
                  class="form-control"
                  id="descripcion"
                  name="descripcion"
                  [(ngModel)]="descripcion"
                  required
                />
              </div>
              <div class="form-group mb-4">
                <label for="gitLink">Link:</label>
                <input
                  type="text"
                  class="form-control"
                  id="gitLink"
                  name="gitLink"
                  [(ngModel)]="gitLink"
                />
              </div>
              <div class="form-group mb-4">
                <label for="imgP" class="form-label">Imagen:</label>
                <input
                  type="file"
                  class="form-control"
                  id="imgP"
                  name="imgP"
                  (change)="uploadImg($event)"
                  [(ngModel)]="imgP"
                  accept=".jpg, .jpeg, .png"
                  [(ngModel)]="imgP"
                />
              </div>
              <div class="imagen">
                <ngx-spinner
                  [fullScreen]="false"
                  size="medium"
                  type="pacman"
                  color="#edb948"
                >
                </ngx-spinner>
                <img [src]="imagePService.URL" width="200px" />
              </div>
              <button class="btnatras btn btn-outline-light" routerLink="">
                Atrás
              </button>
              <button type="submit" class="btnagregar btn btn-outline-light">
                Agregar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
