<div id="bgcolor">

  <div class="container" >
    <div class="row justify-content-center align-items-center text-center py-5 g-2 text-light" >
      <h2 class="col-12">
        Educación
        <i id="plus" routerLink="/nuevaedu" *ngIf="isLogged" class="bi bi-plus"></i>
      </h2>
      
      <div class="col-6 col-md-3 col-xl-2 my-5 mx-auto" *ngFor="let Educacion of educacion">
       
            <h5 class="card-title">{{ Educacion.nombreE }}</h5>
        <p class="card-text">{{ Educacion.descripcionE }}</p>
        <i>{{Educacion.fechaE}}</i>

        <div *ngIf="isLogged">
          <button
          class="btn btn-dark"
          routerLink="/editedu/{{ Educacion.id }}"
          >
          <i class="bi bi-pencil-fill"></i>
        </button>
        <button class="btn btn-danger" (click)="delete(Educacion.id)">
          <i class="bi bi-trash-fill"></i>
        </button>
      </div>


    

</div>
</div>
</div>

</div>

