#footer-color {
  background-color: var(--color-secundario);
}


#icon{
  font-size: 2rem;
}

.form-floating {
  max-width: 500px;
  margin: auto;
}

.text-area{
  height: 250px;
}

.cont-form input{
  background-color: var(--color-principal);
  border: none;
}


.cont-form textarea{
  background-color: var(--color-principal);
  border: none;
}

.btncolor:hover{
  background-color: var(--color-resalte);
  color: #fff;
 }

.bgfooter{
  background-color: var(--color-principal);
}