.bgcolor{
    background-color: var(--color-secundario);
}

.card{
    background-color: var(--color-principal);
}

input{
    background-color: var(--color-blanco);
}

.btntexto{
    background-color: var(--color-resalte);
    color: var(--color-blanco);
   }

   .btncolortexto:hover{
    background-color: var(--color-blanco);
    color: var(--color-contraste);
}