.container {
  background-color: var(--color-secundario);
}

.bgcolor{
  background-color: var(--color-secundario);
}

.card-body{
  background-color: var(--color-secundario);
}

.card-body:hover{
  background-color: #475468;
}

.border-bottom {
  border-bottom: 1px solid var(--color-principal)!important;
}

.columna{
  background-color: var(--color-principal);
  
}


.btncolor{
  background-color: var(--color-resalte);

}

.btntrash{
  background-color: var(--color-resalte);
  
}

.btntrash:hover{
  color: #b73101;
}