<div class="bgcolor">


<div class="container">

  <div class="row justify-content-center align-items-center text-center pt-5 text-light">
    <h2 class="col-12">
      Experencia Laboral
      <i id="plus" routerLink="/nuevaexp" *ngIf="isLogged" class="bi bi-plus"></i>
      
    </h2>
    
    <div class="col-6 col-md-3 col-xl-2 my-5 mx-auto" *ngFor="let Experiencia of expe">
    
          <h5 class="card-title">{{ Experiencia.nombreE }}</h5>
          <p class="card-text">{{ Experiencia.descripcionE }}</p>
          <i>{{Experiencia.duracion}}</i>
         <!--  <i> {{Experiencia.fechaE}}</i> -->

          <div *ngIf="isLogged">
            <button
            class="btn btn-dark"
            routerLink="/editexp/{{ Experiencia.id }}"
            >
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button class="btn btn-danger" (click)="delete(Experiencia.id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>


     

  </div>

</div>
</div>

</div>
