.bgcolor{
    background-color: var(--color-secundario);
}

.card{
    background-color: var(--color-principal);
}

input{
     background-color: var(--color-blanco);
}

.btncolor{
    background-color: var(--color-resalte);
    color: var(--color-blanco);
   }


.btncolortext:hover{
    background-color: var(--color-blanco);
    color: var(--color-resalte);
}
