<div class="bgcolor vh-100">
  <div class="container">
    <div class="row justify-content-center text-light">
      <div class="col-12 col-md-6 col-lg-6 pt-4">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="p-3">Nueva red</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
              <div class="form-group pt-3 mb-4">
                <label for="nombre">Nombre de la red:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  [(ngModel)]="nombre"
                />
              </div>
              <div class="form-group pt-3 mb-4">
                <label for="url">URL:</label>
                <input
                  type="text"
                  class="form-control"
                  id="url"
                  name="url"
                  [(ngModel)]="url"
                  required
                />
              </div>
              <div class="form-group pt-3 mb-4">
                <label class="form-label" for="iconRed"
                  >Icono <i [class]="iconRed"></i
                ></label>
                <select
                  name="iconRed"
                  id="iconRed"
                  class="form-select"
                  [(ngModel)]="iconRed"
                >
                  <option selected>Eliga un icono</option>
                  <option value="fa-brands fa-github">Github</option>
                  <option value="fa-brands fa-linkedin">Linkedin</option>
                  <option value="fa-brands fa-instagram">Instagram</option>
                  <option value="fa-brands fa-telegram">Telegram</option>
                  <option value="fa-brands fa-facebook">Facebook</option>
                  <option value="fa-brands fa-twitter">Twitter</option>
                </select>
              </div>
              <button
                type="button"
                routerLink=""
                class="btnatras btn btn-outline-light"
              >
                Atrás
              </button>
              <button class="btnagregar btn btn-outline-light">Agregar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
