.bgcolor{
    background-color: var(--color-secundario);
}

.card{
    background-color: var(--color-principal);
}

input{
    background-color: var(--color-blanco);
}

select{
    background-color: var(--color-blanco);
}

.btnatras:hover{
    color: var(--color-contraste);
    background-color: var(--color-blanco);
}

.btnagregar{
    background-color: var(--color-resalte);
    color: var(--color-blanco);
}