a i{
    font-size: 45px;
    color: #fff;
    transition: all .4s;
}

a i:hover{
    color: var(--color-contraste);
}

.btncolor{
    background-color: var(--color-resalte);
}

.btncolor:hover{
    color: var(--color-tercer);
}

.btncolortext{
    background-color: var(--color-resalte);
}

.btncolortext:hover{
    color: var(--color-tercer);
}