<div class="container">
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-12" *ngIf="isLogged">
      <h2 class="pt-5">
        Redes
        <i id="plus" routerLink="/nuevared" class="bi bi-plus"></i>
      </h2>
    </div>
    <div class="col-12 py-5">
      <div *ngFor="let redes of red" class="d-inline-block px-3">
        <a [href]="redes.url" target="_blank">
          <i [ngClass]="redes.iconRed"></i>
        </a>
        <div class="py-3" *ngIf="isLogged">
          <button
            class="btncolor btn btn-outline-light"
            routerLink="/editred/{{ redes.id }}"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button
            id="tacho"
            class="btncolortext btn btn-outline-light"
            (click)="delete(redes.id)"
          >
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
