<section>
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center text-light">
      <div class="col-12 col-md-6 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-header text-center">
            <button
              routerLink=""
              type="button"
              class="btn-close float-end m-0 p-0"
              aria-label="Close"
            ></button>
            <h3 class="mt-3">Iniciar sesión</h3>
          </div>
          <div class="card-body py-5 text-center">
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <div class="form-group">
                <label class="form-label" for="nombreUsuario">Usuario:</label>
                <input
                  type="text"
                  id="nombreUsuario"
                  name="nombreUsuario"
                  class="form-control"
                  [(ngModel)]="nombreUsuario"
                  [ngModelOptions]="{ standalone: true }"
                  required
                />
              </div>
              <div class="form-group pt-3">
                <label class="form-label" for="password">Contraseña:</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  [(ngModel)]="password"
                  [ngModelOptions]="{ standalone: true }"
                  required
                />
              </div>
              <button class="btnentrar btn btn-outline-light" type="submit">
                Entrar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
