
img{
  width: 100%;
  height: auto;
  display: block; 
  object-fit: cover;
}

.foto{
  margin: auto;
  display: flex;
  width: 240px;
  height: 245px;
  clip-path: circle(50% at 50% 50%);
}

#user {
  font-size: 2rem;
  cursor: pointer;
  transition: all .4s;
}

#user:hover{
  color: var(--color-resalte);
}

i{
  color: #fff;
}

h1{
  color: var(--color-contraste);
}


