<!-- <div class="row" *ngIf="persona">
    <button type="button" routerLink="/editacercade/1" class="btn btn-dark" *ngIf="isLogged">Editar Persona</button>

  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 flex-col-center">
    <img src="{{persona.img}}" alt="" class="img-fluid" id="foto-perfil">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 flex-col-center">
    <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
    <p id="cargo">{{persona.cargo}}</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 descripcion">
    <span>
      <h2>Acerca de mi</h2>
      <p>{{persona.descripcion}}</p>
    </span>
  </div>
</div> -->
<div class="row justify-content-center align-items-center text-center text-light vh-100">
  <div class="col-12 col-md-6">
    <div class="foto">
      <img
      src="{{persona.img}}"
      alt=""
      class="img-fluid"
      id="foto-perfil"
      />
      
    </div>

    <i routerLink="/editacercade/1" *ngIf="isLogged" id="user"  class="fa-solid fa-user-pen mt-4"></i>
  

  <h1>{{ persona.nombre }} {{ persona.apellido }}</h1>
</div>
<div class="col-12 col-md-6">
  
  <p>{{persona.descripcion}} </p>
  
</div>

</div>