<div class="row">
  <div class="container">
    <div class="logo">
      <img src="../../../assets/APLogo.png" alt="Logo Argentina Programa" id="logoAP">
    </div>
    <div class="redes">
        <a href="linkedin.com/in/daiana-rocío-chile-ab7264204" target="_blank"><img src="../../../assets/linkedin.png" alt="Logo de Linkedin" /></a>
        <a href="https://github.com/sadtoru" target="_blank"><img src="../../../assets/github.png" alt="Logo de GitHub" /></a>
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
    </div>
  </div>
</div>
