#logoAP {
  width: 115px;
}

 #color-fondo{
  background-color: var(--color-secundario);
 }

.texto:hover{
  color: var(--color-resalte)!important;
}

 .texto{
  transition: all .8s; 
 }



 .btncolor:hover{
  background-color: var(--color-resalte);
  color: #fff;
 }

