:root{
  --color-secundario: #252e43;
  --color-principal:  #2f3a53;
  --color-tercer: #475468;
  --color-blanco: #f2f2fe;
  --color-resalte: #cbc6f9;
  --color-contraste: #a198f4;
}

button {
  margin: 10px;
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
}

#plus {
  cursor: pointer;
}
